<!DOCTYPE html>
<html lang="en-UK" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Marc Hermann">
    <meta name="description" content="ThrSqr - RSVP tracker for weekly events and friendly people.">

    <!-- Common stylesheets -->
    <link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/base.css">

    <!-- Common icons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- General title -->
    <title>ThrSqr - Will you be There or be Square?</title>
</head>

<body data-language="${language}">

<!-- Page-specific body content -->
<div layout:fragment="body"></div>

</body>
</html>