<!DOCTYPE html>
<html lang="" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/skeleton}">

<head>
    <!-- Page-specific title -->
    <title>[[${event.title}]] | ThrSqr</title>

    <!-- Page-specific stylesheets -->
    <link rel="stylesheet" href="/stylesheets/event.css">

    <!-- Page-specific scripts -->
    <script src="/javascript/application.js" type="module"></script>
    <script src="/javascript/push.js" type="module"></script>

    <!-- Page-specific icons -->
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{${icons[144]}}">
    <link rel="apple-touch-icon" sizes="192x192" th:href="@{${icons[192]}}">
    <link rel="apple-touch-icon" sizes="256x256" th:href="@{${icons[256]}}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{${icons[192]}}">
    <link rel="icon" type="image/png" sizes="256x256" th:href="@{${icons[256]}}">

    <!-- Page-specific manifest -->
    <link rel="manifest" th:href="@{/${event.code}.webmanifest}" crossorigin="use-credentials">
</head>

<body>
<div id="flexwrap" layout:fragment="body">
    <header>
        <div th:replace="~{fragments/homelink :: homelink}"></div>
        <div id="rightcorner">
            <div th:replace="~{fragments/links :: links}"></div>
            <div id="headerlogo">
                <img th:src="${event.logourl}" id="eventHeaderLogo" width="100px" alt="event logo">
            </div>
        </div>
    </header>

    <main>
        <div id="logo">
            <img th:src="${event.logourl}" id="eventLogo" width="250px" alt="event logo">
        </div>

        <div id="info">
            <h1>[[${event.title}]]</h1>
            <h2>[[#{eventEvery}]] <span id="eventDay"></span> [[#{eventAt}]] <span id="eventTime"></span> <span
                    class="smaller" id="localTimezone"></span></h2>
            <p>[[${event.info}]]</p>
            <div id="subscriptions"></div>
        </div>

        <div id="form">
            <h3 th:data-previouseventtime="${previousEventTime}">[[#{nextTime}]] <span id="nextDate"></span>.</h3>
            <div id="responsePeek">
                <h4 th:if="${going > 0 || notGoing > 0}">
                    <a th:if="${going > 0}" class="thr-green" href="#">[[#{there}]] - [[${going}]]</a>
                    <span th:if="${going > 0 && notGoing > 0}"> | </span>
                    <a th:if="${notGoing > 0}" class="sqr-red" href="#">[[#{square}]] - [[${notGoing}]]</a>
                </h4>
                <h4 th:if="${going == 0 && notGoing == 0}">[[#{thereOrSquare}]]</h4>
            </div>

            <h4 id="thereOrSquare">[[#{thereOrSquare}]]</h4>
            <form action="/response/" method="post">
                <input type="hidden" name="eventCode" th:value="${event.code}">
                <dl>
                    <dt>
                        <label class="bold-text" for="username">Name</label>
                    </dt>
                    <dd>
                        <input type="text" id="username" name="username" placeholder="Name" th:value="${username}"
                               maxlength="50" required>
                    </dd>

                    <dt>
                        <label class="bold-text" for="comment">[[#{comment}]] (optional)</label>
                    </dt>
                    <dd>
                        <textarea rows="3" maxlength="150" id="comment" name="comment"
                                  th:placeholder="#{comment}"></textarea>
                    </dd>

                    <dt>
                        <label class="bold-text">[[#{illBe}]]</label>
                    </dt>
                    <dd id="buttons">
                        <input type="hidden" name="there" id="thereInput" value="">
                        <button type="button" class="btn-thr"
                                onclick="document.getElementById('thereInput').value='true'; this.form.submit();">
                            [[#{there}]]
                        </button>
                        <button type="button" class="btn-sqr"
                                onclick="document.getElementById('thereInput').value='false'; this.form.submit();">
                            [[#{square}]]
                        </button>
                    </dd>
                </dl>
            </form>
            <p class="smaller" th:if="${going > 0 || notGoing > 0}">[[#{howToRemove}]]</p>
        </div>

        <div id="responses">
            <form id="responseForm" action="/response/remove" method="post">
                <input type="hidden" name="eventCode" th:value="${event.code}">
                <input type="hidden" id="participantIdToRemove" name="participantId" value="">

                <h2 id="there" class="thr-green" th:if="${going > 0}">[[#{there}]] - [[${going}]]</h2>
                <div th:each="response : ${responses}" th:if="${response.there}">
                    <p>
                        <a href="#" th:data-id="${response.participantId}">[[${response.username}]]</a>
                        <span class="smaller">[[${response.comment}]]</span>
                    </p>
                </div>

                <h2 id="square" class="sqr-red" th:if="${notGoing > 0}">[[#{square}]] - [[${notGoing}]]</h2>
                <div th:each="response : ${responses}" th:if="${!response.there}">
                    <p>
                        <a href="#" th:data-id="${response.participantId}">[[${response.username}]]</a>
                        <span class="smaller">[[${response.comment}]]</span>
                    </p>
                </div>
            </form>
        </div>
    </main>

    <footer th:insert="~{fragments/links :: links}"></footer>
</div>
</body>
</html>