<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header-footer}">

<head>
    <title>[[#{newEventHeading}]]</title>
    <script type="module" src="/javascript/application.js"></script>
    <script type="module" src="/javascript/logo-handling.js"></script>
    <link rel="stylesheet" href="/stylesheets/forms.css">
</head>

<body>
<main layout:fragment="main">
    <h2>[[#{newEventHeading}]]</h2>
    <form action="/event/new" method="post">
        <dl>
            <dt>
                <label for="eventTitle" class="bold-text">[[#{eventTitle}]]</label>
            </dt>
            <dd>
                <input type="text"
                       id="eventTitle"
                       name="eventTitle"
                       th:placeholder="#{eventTitlePlaceholder}"
                       maxlength="100"
                       required
                       class="bold-text">
            </dd>

            <dt>
                <label for="eventDayOfWeek" class="bold-text">[[#{eventDayOfWeek}]]</label>
            </dt>
            <dd>
                <select id="eventDayOfWeek" name="eventDayOfWeek" required>
                    <option th:each="i : ${#numbers.sequence(0, 6)}"
                            th:value="${i}"
                            th:text="${#messages.msg('weekArray.' + i)}">
                        [[#{weekArray.${i}}]]
                    </option>
                </select>
            </dd>

            <dt>
                <label for="eventTime" class="bold-text">[[#{eventTime}]]</label>
            </dt>
            <dd>
                <input type="time"
                       id="eventTime"
                       name="eventTime"
                       value="18:00"
                       required>
            </dd>

            <dt>
                <label for="eventTimeZone" class="bold-text">[[#{timezone}]]</label>
            </dt>
            <dd>
                <input type="text"
                       id="eventTimeZone"
                       name="eventTimeZone"
                       value=""
                       readonly>
            </dd>

            <dt>
                <label for="eventInfo" class="bold-text">[[#{eventInfo}]]</label>
            </dt>
            <dd>
                <textarea rows="4"
                          maxlength="300"
                          id="eventInfo"
                          name="eventInfo"
                          th:placeholder="#{eventInfoPlaceholder}"></textarea>
            </dd>
        </dl>

        <div id="logoselection">
            <dl>
                <dt>
                    <label for="eventLogoFile" class="bold-text">[[#{eventLogo}]]</label>
                </dt>
                <dd>
                    <input type="file" id="eventLogoFile" accept="image/*">
                </dd>
            </dl>
            <img src="/images/thrsqrlogo-250.png" id="eventLogo" width="125" alt="logo">
        </div>

        <input type="hidden"
               id="eventLogoURL" name="eventLogoURL" value="/images/thrsqrlogo-250.png">

        <input type="email" id="email" name="email" placeholder="email address" autocomplete="off">
        <input type="text" id="message" name="message" placeholder="message" autocomplete="off">

        <input type="submit" th:value="#{createEvent}" class="btn">
    </form>
</main>
</body>
</html>