<!DOCTYPE html>
<html lang="en-UK" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/header-footer}">

<head>
    <!-- Page-specific stylesheets -->
    <link rel="stylesheet" href="/stylesheets/welcome.css">

    <!-- Page-specific scripts -->
    <script src="/javascript/push.js" type="module"></script>
</head>

<body>
<main layout:fragment="main">
    <h2>[[${TEXTS.claim}]]</h2>
    <h3 th:utext="${TEXTS.benefits}"></h3>

    <a href="/event/new">
        <button class="btn">[[${TEXTS.setup}]]</button>
    </a>

    <ol>
        <li th:each="step : ${TEXTS.steps}">[[${step}]]</li>
    </ol>
</main>
</body>
</html>