<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/header-footer}">

<head>
    <!-- Page-specific stylesheets -->
    <link rel="stylesheet" href="/stylesheets/welcome.css">

    <!-- Page-specific scripts -->
    <script src="/javascript/push.js" type="module"></script>
</head>

<body>
<main layout:fragment="main">
    <h2>[[#{claim}]]</h2>
    <h3 th:utext="#{benefits}"></h3>

    <a href="/event/new">
        <button class="btn">[[#{setup}]]</button>
    </a>

    <ol>
        <li th:each="i : ${#numbers.sequence(0, 4)}" th:text="${#messages.msg('steps.' + i)}"></li>
    </ol>
</main>
</body>
</html>